/* Chat */
.wrap {
	padding: 0 16px;
	height: var(--base-height);
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	color: #000;
	user-select: none;
}

.wrap:hover {
	background-color: #f3f5f6;
}
.logo img {
	width: 46px;
	height: 46px;
	display: block;
	border-radius: 50%;
}
.content {
	flex: 1;
}
.title {
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 4px;
}

.message {
	font-size: 12px;
	color: #7589a3;
	max-width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	word-wrap: break-word;
}
.time {
	font-size: 12px;
}

.active {
	background-color: #e5efff !important;
}
/* BoxChat */
.boxchat-header {
	padding: 0 16px;
	height: var(--base-height);
	display: flex;
	align-items: center;
}

.boxchat-logo img {
	width: 46px;
	height: 46px;
	display: block;
	border-radius: 50%;
}
.boxchat-title {
	margin-left: 12px;
}
.boxchat-title .title {
	font-size: 16px;
	user-select: none;
}
.boxchat-title .subtitle {
	font-size: 14px;
	user-select: none;
}

/* BoxChat : boxchat-main */
.boxchat-main {
	position: relative;
	border-top: 1px solid #ccc;
	height: calc(100vh - var(--base-height));
	max-height: calc(100vh - var(--base-height));
	display: flex;
	flex-direction: column;
}
.boxchat-show-message {
	padding: 0 16px;
	width: 100%;
	flex: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
}
.boxchat-form {
	width: 100%;
	background-color: white;
	position: sticky;
	bottom: 0;
}
.textarea-wrap {
	display: flex;
	align-items: center;
	padding: 8px 0;
}
.textarea {
	margin: 0;
	overflow: hidden;
	height: auto;
	resize: none;
	flex: 1;
	padding: 4px 12px;
	line-height: 20px;
	border: transparent;
	max-height: calc(28 * 12px);
	background-color: white;
}

.send-more-top {
	border-bottom: 1px solid #4e80dc;
}
.send-more-right {
	display: flex;
}
.send-more-right button i {
	font-size: 20px;
}
/* MessageItem */
.wrap_message-item {
	display: flex;
	gap: 12px;
}
.row-reverse {
	flex-direction: row-reverse;
}
.wrap_message-item {
	margin-top: 20px;
	margin-bottom: 40px;
}
.message-item-content + .message-item-content {
	margin-top: 12px;
}
.message-item-content > div {
	padding: 12px;
}
