.wrap {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-image: url("/images/bg-svg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
}
.content {
	margin: 0 auto;
	max-width: 440px;
	width: 440px;
	padding: 0 20px;
}
.logo img {
	width: 120px;
	display: block;
	margin: 0 auto;
}
