.wrap {
	width: 340px;
}
.search {
	height: var(--base-height);
	min-height: var(--base-height);
	width: 100%;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-right: 1px solid #ccc;
}
.label {
	display: flex;
	align-items: center;
	background-color: #eaedf0;
	padding: 0px 4px 0px 10px;
	border-radius: 4px;
	border: 1px solid transparent;
}
.border-label {
	border: 1px solid #0068ff;
}
.input {
	padding-left: 6px;
	border: none;
	background: transparent;
}
.adds {
	display: flex;
	gap: 8px;
}
.adds button {
	width: 32px;
	height: 32px;
}
.close {
	height: 32px;
}
.close:hover {
	background-color: #c7cbce;
}
.adds button:hover {
	background-color: #cfd2d5;
}
.result-seach,
.content {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	height: calc(100vh - var(--base-height));
}
